.AboutSkillsInfoContainer{
    max-width: 900px;
    margin: auto;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 35px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    padding: 40px;
}

.AboutSkillsInfoContainer:hover{
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.AboutSkillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


.AboutSkillsInformationContainer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    padding-bottom: 10px;
    color: rgb(102, 102, 102);
}

.AboutSkillsInformationContainer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(102, 102, 102);
    margin-bottom: 10px;
}

.SkillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 1px solid rgb(211, 210, 210);
}

.SkillItem:hover {
    transform: translateY(-5px);
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.SkillItem svg {
    font-size: 3rem;
}

.SkillItem span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(102, 102, 102);
}


