.AboutContainerSocials{
    padding-left: 20px;
    align-items: center;
    margin: 100px auto;
}

.AboutContainerSocialsList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.AboutContainerSocialsList li{
    margin-bottom: 5px;
}


.AboutContainerSocials a{
    color: rgb(102, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.liContainer{
    display: flex;
    align-items: center;
    color: rgb(102, 102, 102);
    font-size: 0.8em;
    font-weight: bold;
}

.liContainer span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width:900px){
    .AboutContainerSocials{
        margin: 0;
        margin-bottom: 35px;
        padding-left: 0px;
        text-align: left;
    }
    .AboutContainerSocials a{
        font-size: 0.7em;
        margin-bottom: 5px;
    }
    .liContainer{
        justify-content: left;
    }
    .liContainer span{
        font-size: 0.8em;
    }
}

@media (max-width:344px){
    .liContainer span{
        font-size: 0.7em;
    }
}