.Footer{
   background-color: rgb(102, 102, 102);
}

.FooterContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.FooterOptionsContainer{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: left;
    margin-left: 60px;
}

.FooterAuthorInfoContainer{
    width: 70%;
}

.FooterContainer .navOption{
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.FooterContainer .navOption a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.FooterContainer .navOption a:hover {
    color: rgb(69, 184, 159);
}

.FooterAuthorInfoContainer p{
    text-align: end;
    margin-right: 60px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width:907px){ 

    .FooterOptionsContainer1{
        margin: auto;
        margin-bottom: 30px;
    }

    .FooterOptionsContainer{
    margin: auto;
    }

    .FooterContainer .navOption{
        margin-left: 20px;
    }

    .FooterAuthorInfoContainer{
        margin: auto;
        width: 100%;
    }
    .FooterAuthorInfoContainer p{
        text-align: center;
        margin-right: 0px;
    }

}