.HomeAboutInfoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px;
    margin: auto;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 40px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
}

.HomeAboutInfoContainer:hover{
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.HomeAboutImgContainer{
    width: 40%;
    display: flex;
    justify-content: left;
    padding: 20px;
    box-sizing: border-box;
}

.HomeAboutImg{
    border-radius: 40px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.HomeAboutInformationContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: center;     
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.HomeAboutInformationContainer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    color: rgb(102, 102, 102);
}

.HomeAboutInformationContainer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(102, 102, 102);
}

.HomeAboutContainerIcon{
    margin-top: 10px;
}

.HomeAboutContainerIcon a {
    color: black;
    transition: color 0.3s ease;
    padding: 10px;
}

.HomeAboutContainerIcon a:hover{
    color: rgb(69, 184, 159);
}


@media (max-width: 900px) {
    .HomeAboutInfoContainer {
        align-items: center;
        text-align: center;
        
    }

    .HomeAboutImgContainer,
    .HomeAboutInformationContainer {
        width: 100%;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .HomeAboutInformationContainer h1{
        font-size: 1.7em;
    }

    .HomeAboutInformationContainer p{
        font-size: 0.9em;
        text-align: justify;
    }

    .HomeAboutImg{
        width: 200px;
    }
}