.navFixed{
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navContainer{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    width: 250px;
    height: auto;
    border: 1px solid rgb(247, 244, 244);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition:  transform 0.3s ease, backgroung-color 0.3s ease;
}

.navContainer:hover{
    transform: translateY(-2px);
    background-color: rgb(241, 241, 241);
}

.navContainer .navOption {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    
}

.navContainer .navOption a{
    color: rgb(102, 102, 102);
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navContainer .navOption a:hover{
    color: rgb(69, 184, 159);
}